/* file structure:

- rules?

- selectors
    - tags
    - classes

    - elements?
    - behaviours? */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* tags */

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    height: 80px;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    height: 80px;
    left: 0;
    justify-content: space-between;
    padding: 0 22px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* box-sizing best practices */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input {
    border: none;
    font-family: inherit;
    font-size: 18px;
    outline: none;
    padding: 0 17px;

    /* in case of using textarea instead */
    /* box-shadow: none; */
    /* line-height: 21px; */
    /* overflow: auto; or none? */
    /* resize: none; */
    /* -moz-box-shadow: none;
    -webkit-box-shadow: none; */
}

input::placeholder {
    color: #000000;
    font-style: italic;
    opacity: 1;
}

ion-icon {
    cursor: pointer;
}

/* removes tooltips from icons */
ion-icon:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

main {
    background-color: #f3f3f3;
    margin: 80px 0;
    max-height: calc(100% - 160px);
    overflow-y: scroll;
    padding: 22px 0;
}

main li {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    margin-top: 4px;
    padding: 13px 8px;
}

nav {
    color: #000000;
    font-size: 45px;
}

p {
    max-width: 100%;
    word-wrap: break-word;
}

p span:nth-child(1) {
    color: #aaaaaa;
    word-wrap: break-word;
}

p span:nth-child(2), p span:nth-child(3) {
    font-weight: 700;
    word-wrap: break-word;
}

/* classes */

.button {
    align-items: center;
    display: flex;
    font-size: 32px;
    height: 100%;
    justify-content: center;
    width: 61px;
}

.container {
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.hidden {
    display: none;
}

.input-box {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: flex-end;
    width: calc(100% - 61px);
}

.label {
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin: 5px 0;
    padding: 0 17px;
}

.menu {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    height: inherit;
    line-height: 19px;
    overflow-y: scroll;
    padding-bottom: 22px;
    width: 70%;
}

.menu div {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 66px;
    padding: 0 43px;
    text-align: center;
}

.menu ion-icon:nth-child(1) {
    font-size: 25px;
    min-width: 25px;
    padding: 0 7px;
}

.menu ion-icon:nth-child(2) {
    color: #28BB25;
    font-size: 15px;
    padding: 0 17px;
}

.menu li {
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    padding: 6px 10px;
    word-break: break-all;
}

.menu span {
    cursor: pointer;
    align-items: center;
    display: flex;
}

.message {
    background-color: #ffffff;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: inherit;
    width: 30%;
}

.private_message {
    background-color: #ffdede;
}

.status {
    background-color: #dcdcdc;
}
